<div class="container">
    <div class="navLinks">
        <a [routerLink]="['/form1']">Simple Form1 Example</a>&nbsp;&nbsp;
        <a [routerLink]="['/form2']">Simple Form2 Example</a>&nbsp;&nbsp;
        <a [routerLink]="['/ifValidation']">If Validation</a>&nbsp;&nbsp;
        <a [routerLink]="['/switchExample']">Switch Example</a>&nbsp;&nbsp;
        <a [routerLink]="['/combinedExample']">All Validations Example</a>&nbsp;&nbsp;
        <a [routerLink]="['/serviceexample']">Services Example</a>
    </div>
</div>

<div id="content">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>